footer.footer
  .container 
    .footer-main
      .footer-top
        .footer-content
          img.footer-logo(srcset="./images/Logo.png 2x", alt="footer logo")
          span.footer-desc Retail food delivery is a courier service in which a restaurant, store, or independent food-delivery
          ul.footer-socials
            a(href="#").footer-social
              img(srcset="./images/Linkedin.png 2x", alt="social logo")
            a(href="#").footer-social
              img(srcset="./images/Facebook.png 2x", alt="social logo")
            a(href="#").footer-social
              img(srcset="./images/Twitter.png 2x", alt="social logo")
        .footer-list 
          .footer-item
            span.footer-item-heading Company
            ul.footer-item-list
              a(href="#").footer-item-text About
              a(href="#").footer-item-text Terms of Use
              a(href="#").footer-item-text Privacy Policy
              a(href="#").footer-item-text How it Works
              a(href="#").footer-item-text Cotact Us
          .footer-item
            span.footer-item-heading Get Help
            ul.footer-item-list
              a(href="#").footer-item-text Support Carrer
              a(href="#").footer-item-text 24h Service
              a(href="#").footer-item-text Quick Chat
          .footer-item
            span.footer-item-heading Support
            ul.footer-item-list
              a(href="#").footer-item-text FAQ
              a(href="#").footer-item-text Policy
              a(href="#").footer-item-text Business
          .footer-item
            span.footer-item-heading Contact
            ul.footer-item-list
              a(href="#").footer-item-text WhatsApp
              a(href="#").footer-item-text Support 24
      .footer-bottom
        span Copyright © 2021 Besnik.com
        span Created by 
          span.strong Besnik