header.header
  .container
    .header-main
      img.header-image(srcset="./images/Logo.png 2x", alt="Logo")
      ul.header-nav
        a(href="#").header-nav-item Home
        a(href="#").header-nav-item Review
        a(href="#").header-nav-item About Us
        a(href="#").header-nav-item Contact Us
      .header-actions 
        a(href="#").btn.btn--black.medium Sign up
        a(href="#").btn.btn--primary.small 
          span.header-actions-cart
            i.fas.fa-shopping-bag
      i.fas.fa-bars.header-toggle
    ul.header-mobile-nav
        a(href="#").header-mobile-nav-item Home
        a(href="#").header-mobile-nav-item Review
        a(href="#").header-mobile-nav-item About Us
        a(href="#").header-mobile-nav-item Contact Us
        li.header-mobile-nav-item
          a(href="#").btn.btn--black.medium Sign up
          a(href="#").btn.btn--primary.small 
            span.header-actions-cart
              i.fas.fa-shopping-bag


