section.popular
  .container 
    .popular-main
      span.popular-heading Popular countries with us
      .popular-list
        .popular-item
          span United States
          span Spain
          span Brazil
          span Mexico
          span Japan
        .popular-item
          span Canada
          span Australia
          span Poland
          span United Kingdom
          span Italy
        .popular-item
          span Switzerland
          span Chile
          span New Zealand
          span Tiwan (ROC)
          span South Africa
        .popular-item
          span Ecuador
          span Ireland
          span Sri Lanka
          span Dominican Republic
          span Sweden
