section.portfolio
  .container
    .portfolio-main
      +globalContent({heading:"Popular Menu", title:"Wait a minute for delicious.", className: "center"})
      .portfolio-list
        .portfolio-item
          img.portfolio-item-image(srcset="./images/portfolio-1.png 2x", alt="portfolio pic")
          .portfolio-item-rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h3.portfolio-item-title New York-Style pizza
          p.portfolio-item-desc Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
          .portfolio-item-bottom
            span.portfolio-item-price $7.10
            .portfolio-item-link
              a(href="#").btn.btn--primary.small.portfolio-item-btn
                i.far.fa-heart
              a(href="#").btn.btn--black.small.portfolio-item-btn
                i.fas.fa-share-alt           
        .portfolio-item
          img.portfolio-item-image(srcset="./images/portfolio-2.png 2x", alt="portfolio pic")
          .portfolio-item-rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h3.portfolio-item-title Bento Ekiben Makunchi ..
          p.portfolio-item-desc Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
          .portfolio-item-bottom
            span.portfolio-item-price $6.40
            .portfolio-item-link
              a(href="#").btn.btn--primary.small.portfolio-item-btn
                i.far.fa-heart
              a(href="#").btn.btn--black.small.portfolio-item-btn
                i.fas.fa-share-alt           
        .portfolio-item
          img.portfolio-item-image(srcset="./images/portfolio-3.png 2x", alt="portfolio pic")
          .portfolio-item-rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h3.portfolio-item-title Humburger Veggei ..
          p.portfolio-item-desc Ut enim ad minim veniam, quis nostrud exercitation.
          .portfolio-item-bottom
            span.portfolio-item-price $4.80
            .portfolio-item-link
              a(href="#").btn.btn--primary.small.portfolio-item-btn
                i.far.fa-heart
              a(href="#").btn.btn--black.small.portfolio-item-btn
                i.fas.fa-share-alt           
        .portfolio-item
          img.portfolio-item-image(srcset="./images/portfolio-4.png 2x", alt="portfolio pic")
          .portfolio-item-rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h3.portfolio-item-title Indian Cusine Briyani Buffet
          p.portfolio-item-desc Ut enim ad minim veniam, quis nostrud exercitation.
          .portfolio-item-bottom
            span.portfolio-item-price $7.10
            .portfolio-item-link
              a(href="#").btn.btn--primary.small.portfolio-item-btn
                i.far.fa-heart
              a(href="#").btn.btn--black.small.portfolio-item-btn
                i.fas.fa-share-alt           
        .portfolio-item
          img.portfolio-item-image(srcset="./images/portfolio-5.png 2x", alt="portfolio pic")
          .portfolio-item-rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h3.portfolio-item-title Chiken Tikka Buffalo Wing ..
          p.portfolio-item-desc Ut enim ad minim veniam, quis nostrud exercitation.
          .portfolio-item-bottom
            span.portfolio-item-price $3.60
            .portfolio-item-link
              a(href="#").btn.btn--primary.small.portfolio-item-btn
                i.far.fa-heart
              a(href="#").btn.btn--black.small.portfolio-item-btn
                i.fas.fa-share-alt           
        .portfolio-item
          img.portfolio-item-image(srcset="./images/portfolio-6.png 2x", alt="portfolio pic")
          .portfolio-item-rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          h3.portfolio-item-title Fsish Fry Shashik Freid Fish ..
          p.portfolio-item-desc Ut enim ad minim veniam, quis nostrud exercitation.
          .portfolio-item-bottom
            span.portfolio-item-price $6.40
            .portfolio-item-link
              a(href="#").btn.btn--primary.small.portfolio-item-btn
                i.far.fa-heart
              a(href="#").btn.btn--black.small.portfolio-item-btn
                i.fas.fa-share-alt
      .portfolio-actions
        +globalButton({className:"btn--green", text: "See All Menu"})