section.service
  .container
    .service-main
      +globalContent({heading: "Hungry?", title: "Wait a minute for delicious.", className: "center"})
      .service-list
        .service-item
          img.service-item-image(srcset="./images/service-1.png 2x" alt="service pic")
          h3.service-item-title Easy to order
          p.service-item-desc n restaurant-controlled online food ordering, the restaurant ..
        .service-item
          img.service-item-image(srcset="./images/service-2.png 2x" alt="service pic")
          h3.service-item-title Live Order
          p.service-item-desc In addition to paying for the food, customers will often have to pay ..
        .service-item
          img.service-item-image(srcset="./images/service-3.png 2x" alt="service pic")
          h3.service-item-title Best Quality
          p.service-item-desc Grocery delivery companies will deliver groceries, pre-prep ..
      .service-bottom
        img(srcset="./images/service-bg.jpg 2x", alt="service-bg")